  <div class="static-content">
    <div class="page-content">
       <ol class="breadcrumb">
        <li class=""><a href="index.html">Users</a></li>
        <li class="active"><a href="index.html"><%= resource.name %></a></li>
        <li class="active"><a href="index.html">Edit Account</a></li>
      </ol>
      <div class="page-heading">            
        <h1>Edit Account<small><%= link_to 'Users:', users_path %> <%= User.count %> registered</small></h1>
      </div>
      <div class="container-fluid">
        <div data-widget-group="group1">
          <br/>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="panel panel-primary" data-widget='{"draggable": "false"}'>
                <div class="panel-heading">
                  <h2>Edit Account</h2>
                </div>
                <div class="panel-body">
                  <div class="p-xxl" id="horizontal-form">
                    <div class="authform">

                      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form', :multipart => true}) do |f| %>


                        <%= devise_error_messages! %>
                        <div class="form-group">
                          <%= f.label :name %>
                          <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
                        </div>
                        <div class="form-group">
                          <%= f.label :email %>
                          <%= f.email_field :email, class: 'form-control' %>
                          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                          <% end %>
                        </div>

                        <br/><br>
                        <h2>Password</h2>
                        <fieldset>
                          <p>Leave these fields blank if you don't want to change your password.</p>
                          <div class="form-group">
                            <%= f.label :password %>
                            <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
                          </div>
                          <div class="form-group">
                            <%= f.label :password_confirmation %>
                            <%= f.password_field :password_confirmation, class: 'form-control' %>
                          </div>
                          <div class="form-group">
                            <%= image_tag(resource.avatar.url, :style => "width: 100px;height: 90px;") if resource.avatar.present? %>
                            <%= f.label :avatar %>
                            <%= f.file_field :avatar, class: 'form-control' %>
                          </div>

                          <div class="form-group">
                            <%= f.label :headline, 'Bio' %>
                            <%= f.text_field :headline, class: 'form-control' %>
                          </div>


                          <div class="form-group">
                            <%= f.label :description %>
                            <%= f.text_field :description, class: 'form-control' %>
                          </div>


                          <div class="form-group">
                            <%= f.label :phone %>
                            <%= f.text_field :phone, class: 'form-control' %>
                          </div>


                          <div class="form-group">
                            <%= f.label :location %>
                            <%= f.text_field :location, class: 'form-control' %>
                          </div>

                          <div class="form-group">
                            <%= f.label :industry %>
                            <%= f.text_field :industry, class: 'form-control' %>
                          </div>

                          <div class="form-group">
                            <%= f.label :public_profile %>
                            <%= f.text_field :public_profile, class: 'form-control' %>
                          </div>


                        </fieldset>
                        <fieldset>
                          <p>You must enter your current password to make changes.</p>
                          <div class="form-group">
                            <%= f.label :current_password %>
                            <%= f.password_field :current_password, class: 'form-control' %>
                          </div>
                        </fieldset>
                        <%= f.submit 'Update', :class => 'btn btn-primary' %>
                      <% end %>
                    </div>
                    <hr/>
                    <div class="authform">
                    <h3>Cancel Account</h3>
                    <p>Unhappy? We'll be sad to see you go.</p>
                    <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-primary' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- .container-fluid -->
      </div> <!-- #page-content -->
    </div>
    <footer role="contentinfo">
      <div class="clearfix">
        <ul class="list-unstyled list-inline pull-left">
          <li><h6 style="margin: 0;">&copy; 2016 USACE</h6></li>
        </ul>
      </div>
    </footer>
  </div>
  <div class="extrabar-underlay"></div>
</div>


