<link rel="stylesheet" href="//cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css">
<link rel="stylesheet" href="http://ljagis.github.io/leaflet-measure/leaflet-measure.css">
<script src="//cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script src="http://ljagis.github.io/leaflet-measure/leaflet-measure.min.js"></script>

<style>
  body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
  #map {
    height: 500px;
  }
</style>

<div id="map"></div>
<pre id="eventoutput">...</pre>

<script>
  (function (L, document) {
    var map = L.map('map', {
      measureControl: true,
      layersControl: false
    }).setView([<%= @map_view_case_study.latitude.to_f %>, <%= @map_view_case_study.longitude.to_f %>], 13);
    L.tileLayer('//server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
      minZoom: 1,
      maxZoom: 18,
      attribution: '&copy; Esri &mdash; Sources: Esri, DigitalGlobe, Earthstar Geographics, CNES/Airbus DS, GeoEye, USDA FSA, USGS, Getmapping, Aerogrid, IGN, IGP, swisstopo, and the GIS User Community'
    }).addTo(map);

    <% @case_studies.each do |case_study| %>
    L.marker([<%= case_study.latitude.to_f %>, <%= case_study.longitude.to_f %>]).addTo(map)
            .bindPopup("<%= case_study.project_name %>");
    <% end %>

    map.on('measurefinish', function (evt) {
      writeResults(evt);
    });

    function writeResults (results) {
      document.getElementById('eventoutput').innerHTML = JSON.stringify({
        area: results.area,
        areaDisplay: results.areaDisplay,
        lastCoord: results.lastCoord,
        length: results.length,
        lengthDisplay: results.lengthDisplay,
        pointCount: results.pointCount,
        points: results.points
      }, null, 2);
    }
  })(window.L, window.document);
</script>