<%= render "form", :case_study => CaseStudy.new(@case_study.attributes) , :url => case_study_path, :method => :put %>


<div class="container-fluid">
  <div data-widget-group="group1">
    <br/>
    <div class="row">
      <%= render "general" %>
    </div>
    <hr/>
    <div class="row">
      <%= render "pre_construction" %>
    </div>
    <hr/>
    <div class="row">
      <%= render "construction" %>
    </div>
    <hr/>
    <div class="row">
      <%= render "post_construction" %>
    </div>

  </div>
</div>