<style type="text/css">

   .card-image::before {
      content:"";
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
      background-color: rgba(0,0,0, .55);
  }

  .on-top {
    position: relative;
    z-index: 99999999;
  }

    </style>


<div class="static-content-wrapper">
  <div class="static-content">
    <div class="page-content">
      <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li><a href="#">UI Elements</a></li>
        <li class="active"><a href="cards.html">Cards</a></li>
      </ol>
      <div class="page-heading">
        <h1>Case Studies</h1>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <%= form_for '', :url => import_case_studies_url, :html => {:method => :post, :multipart => true} do |f| %>
              <input type="file" name="file"> <input type="submit" value="Upload">
            <% end %>
          </div>
        </div>
        <div>
          <form class="navbar-form navbar-left">
            <div class="typeahead__container">
              <div class="typeahead__field">

                        <span class="typeahead__query">
                            <input class="js-typeahead-input"
                                   name="q"
                                   type="search"
                                   autofocus
                                   autocomplete="off">
                        </span>
                        <span class="typeahead__button">
                            <button class="btn btn-default" type="submit">
                              <span class="typeahead__search-icon"></span>
                            </button>
                        </span>

              </div>
            </div>
          </form>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="col-md-12">
              <div class="panel panel-default ov-h" data-widget='{"draggable": "false"}'>
                <div class="panel-controls dropdown">
                  <button class="btn btn-icon-rounded dropdown-toggle" data-toggle="dropdown"><span class="material-icons inverted">more_vert</span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="">Action</a></li>
                    <li><a href="">Another action</a></li>
                    <li><a href="">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="">Separated link</a></li>
                  </ul>
                </div>
                  <div class="panel-body ov-h">
                    <div class="pb-md">
                      <h4 class="mt-n mb-n pt-xs"><small class="mt-n mb-sm">Page views</small>4,986</h4>
                    </div>
                    <div class="pb-md">
                      <h4 class="mt-n mb-n pt-xs"><small class="mt-n mb-sm">Visitors</small>950</h4>
                    </div>
                    <div class="pb-md">
                      <h4 class="mt-n mb-n pt-xs"><small class="mt-n mb-sm">Guests</small>19,862</h4>
                    </div>
                  </div>
                  <div id="areaChart2" class="chartist-full-width"></div>
                </div>
              </div>
            <div class="col-md-12">
              <div class="panel panel-white">
                <div class="panel-controls dropdown">
                  <button class="btn btn-icon-rounded dropdown-toggle" data-toggle="dropdown"><span class="material-icons inverted">more_vert</span></button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="">Action</a></li>
                    <li><a href="">Another action</a></li>
                    <li><a href="">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="">Separated link</a></li>
                  </ul>
                </div>
                <div class="panel-heading">
                  <h2>Sales figures</h2>
                </div>
                <div class="panel-body">
                  <div id="chartistPie"></div>
                  <div class="pt-md pull-left">
                  <h4 class="mt-n mb-n pt-xs"><small class="mt-n mb-sm">Page views</small>4,986</h4>
                  </div>
                  <div class="pt-md pull-right text-right">
                    <h4 class="mt-n mb-n pt-xs"><small class="mt-n mb-sm">Visitors</small>950</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <% @case_studies.each do |case_study| %>
              <div class="col-md-4">
              <div class="card profile-card">
                <div class="card-content">
                  <div class="card-image">
                    <img src="https://usresponserestoration.files.wordpress.com/2015/06/duwamish-boeing-restoration-site_2015-6-19_noaa.jpg" alt="Loading image..." class="img-responsive">
                    <h3 class="card-image-headline on-top"><%= case_study.project_name %>
                      <small>Assistant Director</small>
                    </h3>
                  </div>
                  <div class="card-body on-top">
                    <h6>SUMMARY</h6>
                    <p class="text-muted">
                      <%= case_study.project_desc %>
                    </p>
                    <hr/>
                    <table class="table table-no-border">
                      <tbody>
                        <tr>
                          <td><i class="material-icons">settings</i></span></td>
                          <td>angellasinger@gmail.com</td>
                        </tr>
                        <tr>
                          <td><i class="material-icons">pin_drop</i></td>
                          <td><%= case_study.city %></td>
                        </tr>
                        <tr>
                          <td><i class="material-icons">call</i></td>
                          <td>(540)-160-1234</td>
                        </tr>
                        <td><%= case_study.project_name %></td>
                        <td><%= case_study.user_id %></td>
                        <td><%= case_study.placement_event_id %></td>
                        
                        <td></td>
                        <td><%= case_study.project_type_id %></td>
                        
                        <%= case_study.project_type_other %>
                                        <td><%= case_study.survey_status_id %></td>
                        <td><%= case_study.survey_create_date %></td>
                        <td><%= case_study.survey_update_date %></td>
                        <%= case_study.county %>
                        <%= case_study.region %>
                        <%= case_study.country %>

                        
                        <%= link_to 'Show', case_study, class: "btn btn-primary" %>
                        <%= link_to 'Destroy', case_study, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-warning" %>

        
                      </tbody>
                    </table>
                    <%= link_to edit_case_study_path(case_study), class: "btn btn-primary btn-fab" do %>
                      <i class="material-icons">settings</i>
                    <% end %>
                  </div>
                  <footer class="card-footer pt-n">
                    <p><%= case_study.project_desc %></p>
                  </footer>
                </div>
              </div>
              </div>
            <% end %>
          </div>
        </div>
      </div> <!-- #page-content -->
    </div>  
    <footer role="contentinfo">
      <div class="clearfix">
        <ul class="list-unstyled list-inline pull-left">
          <li><h6 style="margin: 0;">&copy; 2016 KaijuThemes</h6></li>
        </ul>
      </div>
    </footer>
  </div>
  <div class="extrabar-underlay"></div>
</div>

<script>

  var data = {
    <% @grouped_case_studies.each do |geography,_| %>
    "<%= geography.to_s.parameterize.underscore %>": <%= CaseStudy.where(:country => geography).map(&:project_name).to_s.html_safe %>,
    <% end %>
  };

  typeof $.typeahead === 'function' && $.typeahead({
    input: ".js-typeahead-input",
    minLength: 1,
    maxItem: 15,
    order: "asc",
    hint: true,
    group: {
      template: "{{group}} beers!"
    },
    maxItemPerGroup: 5,
    backdrop: {
      "background-color": "#fff"
    },
    href: "/case_studies?q={{display}}",
    dropdownFilter: "all case studies",
    emptyTemplate: 'No result for "{{query}}"',
    source: {
      <% @grouped_case_studies.each do |geography,_| %>
      "<%= geography %>": {
        data: data.<%= geography.to_s.parameterize.underscore %>
      },
      <% end %>
    },
    callback: {
      onClickAfter: function (node, a, item, event) {

        // href key gets added inside item from options.href configuration
        //alert(item.href);

      }
    },
    debug: false
  });

</script>
