<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @case_study.user_id %>
</p>

<p>
  <strong>Placement event:</strong>
  <%= @case_study.placement_event_id %>
</p>

<p>
  <strong>Project name:</strong>
  <%= @case_study.project_name %>
</p>

<p>
  <strong>Project desc:</strong>
  <%= @case_study.project_desc %>
</p>

<p>
  <strong>Project type:</strong>
  <%= @case_study.project_type_id %>
</p>

<p>
  <strong>Project type other:</strong>
  <%= @case_study.project_type_other %>
</p>

<p>
  <strong>Country:</strong>
  <%= @case_study.country %>
</p>

<p>
  <strong>Region:</strong>
  <%= @case_study.region %>
</p>

<p>
  <strong>County:</strong>
  <%= @case_study.county %>
</p>

<p>
  <strong>City:</strong>
  <%= @case_study.city %>
</p>

<p>
  <strong>District:</strong>
  <%= @case_study.district_id %>
</p>

<p>
  <strong>Saga:</strong>
  <%= @case_study.saga_id %>
</p>

<p>
  <strong>Survey status:</strong>
  <%= @case_study.survey_status_id %>
</p>

<p>
  <strong>Survey create date:</strong>
  <%= @case_study.survey_create_date %>
</p>

<p>
  <strong>Survey update date:</strong>
  <%= @case_study.survey_update_date %>
</p>

<p>
  <strong>Project area:</strong>
  <%= @case_study.project_area %>
</p>

<p>
  <strong>Project area uom:</strong>
  <%= @case_study.project_area_uom_id %>
</p>

<p>
  <strong>Case study pk:</strong>
  <%= @case_study.case_study_pk %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @case_study.integer %>
</p>

<p>
  Editors: <%= @case_study.editors.map(&:email).join(", ") %>
</p>
<p>
  Authors: <%= @case_study.authors.map(&:email).join(", ") %>
</p>
<p>
  <% @case_study.photos.each do |photo| %>
    <%= link_to photo.image.url, :target => "_blank" do %>
      <%= image_tag photo.image.url, :style => "width: 100px;height: 90px;" %>
    <% end %>
  <% end %>
</p>

<p>
  <h5>Documents:</h5>
  <% @case_study.documents.each do |document| %>
    <% if document.doc.present? %>
      <%= link_to document.doc.file.filename, document.doc.url, :target => "_blank" %>&nbsp;&nbsp;
    <% end %>
  <% end %>
</p>

<p>
<h5>Videos:</h5>
<% @case_study.videos.each do |video| %>
  <% if video.present? %>
    <label>Title:</label> <label><%= video.title %></label> <br />
    <label>Link:</label> <label><%= video.link %></label> <br />
    <label>Description:</label> <label><%= video.description %></label> <br />
    <label>Tags:</label> <label><%= video.tags %></label> <br />
  <% end %>
<% end %>
</p>

<%= link_to 'Edit', edit_case_study_path(@case_study) %> |
<%= link_to 'Back', case_studies_path %>
