<div class="static-sidebar-wrapper sidebar-blue">
  <div class="static-sidebar">
    <div class="sidebar">
			<div class="widget" id="widget-profileinfo">
    		<div class="widget-body">
        	<div class="userinfo ">
            <div class="avatar pull-left">
              <img src="/demo/avatar/avatar_15.png" class="img-responsive img-circle"> 
            </div>
            <div class="info">
              <span class="username">Jonathan Smith</span>
              <span class="useremail">jon@paperadmin.com</span>
            </div>
            <div class="acct-dropdown clearfix dropdown">
              <span class="pull-left">
              	<span class="online-status online"></span>Online
              </span>
              <span class="pull-right dropdown-toggle" data-toggle="dropdown"><a href="javascript:void(0)" class="btn btn-fab-caret btn-xs btn-fab"><i class="material-icons">arrow_drop_down</i><div class="ripple-container"></div></a></span>
              <ul class="dropdown-menu">
                <li><span class="online-status online"></span> Online</li>
                <li><span class="online-status online"></span> Online</li>
                <li><span class="online-status online"></span> Online</li>
                <li><span class="online-status online"></span> Online</li>
              </ul>
            </div>
        	</div>
    		</div>
			</div>
  		<div class="widget stay-on-collapse" id="widget-sidebar">
      	<nav role="navigation" class="widget-body">
  				<ul class="acc-menu">
  					<li class="nav-separator"><span>Navigation</span></li>
            <% if user_signed_in? %>
              <li>
                <%= link_to edit_user_registration_path, class: "withripple"  do %>
                  <span class="icon">
                    <i class="material-icons">settings</i>
                  </span>
                  <span>Edit Profile</span>
                <% end %>
              </li>
              <li>
                <%= link_to new_case_study_path do %>
                  <span class="icon">
                    <i class="material-icons">create_new_folder</i>
                  </span>
                  <span>Case Studies</span>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, :method=>'delete' do %>
                  <span class="icon">
                    <i class="material-icons">data_usage</i>
                  </span>
                  <span>Logout</span>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to new_user_session_path do %>
                  <span class="icon">
                    <i class="material-icons">logout</i>
                  </span>
                  <span>Login</span>
                <% end %>
              </li>
              <li>
                <%= link_to new_user_registration_path do %>
                  <span class="icon">
                    <i class="material-icons">door</i>
                  </span>
                  <span>Sign Up</span>
                <% end %>
              </li>
            <% end %>
            <% if user_signed_in? %>
              <% if current_user.try(:admin?) %>
                <li><%= link_to 'Users', users_path %></li>
              <% end %>
            <% end %>
            <li>
              <a href="#" class="">
                <span class="icon">
                  <i class="material-icons">door</i>
                </span>
                <span>Map Portal</span>
              </a>
            </li>
            <li>
              <a href="#">
                <span class="icon">
                  <i class="material-icons">door</i>
                </span>
                <span>TLP Home Page</span>
              </a>
            </li>
          </ul>
  			</nav>
  		</div>
  	</div>
  </div>
</div>

