<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/meta' %>
    

    <title><%= content_for?(:title) ? yield(:title) : "TLP" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "TLP" %>">
    
    <%= stylesheet_link_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application',  'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>

    <%= render 'layouts/css' %>

  </head>

    
  <body class="animated-content infobar-overlay">

    
    
    <%= render 'layouts/top_nav' %>

    <div id="wrapper">
      <div id="layout-static">
        <%= render "layouts/sidebar"%>
        <div class="static-content-wrapper">
          <div class="static-content">
            <%= render 'layouts/messages' %>
            
            <div class="page-content">
              
              <%= yield %>
              <%= render 'layouts/js' %>
              
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>


        
        
        
